#about {
  
}
#about .wrap {
  background-color: #eee;
}
#about .wrap h2 {
  
}
#about .wrap ul {
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 150px;
}
#about .wrap ul li {
  width: calc(100% / 3);
}
#about .wrap ul li:nth-child(2){
  border-left: 1px solid #999;
  border-right: 1px solid #999;
}
#about .wrap ul li svg path{
  transition: all 1s;
}
#about .wrap ul li:hover svg path{
  stroke: white;
  stroke-width: 5;
}
#about .wrap ul li h3 {
  line-height: 4;
}
#about .wrap ul li p {
  
}
#about .wrap ul li p span {
  
}