div#title {
  background-image: url(../img/title.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 490px;
  height: calc(100% + 66px);
}
div#title .wrap {
  
  position: relative;
}
div#title .wrap hgroup {
  
}
div#title .wrap hgroup h2 {
  
}
div#title .wrap hgroup h3 {
  
}
/* 배경아이콘처리 */
/* div#title .wrap a.scroll {
  position: absolute;
  bottom: 20px;
  background-color: #fff;
} */
div#title .wrap a.scroll{
  position: absolute;
  bottom: 86px;
  /*! background-color: #fff; */
  width: 100px;
  height: 100px;
  /*! border: 1px solid #ccc; */
  font-size: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /*! animation-name:updown; */
  animation-duration: 2s;
  animation-iteration-count: 4;
}
@keyframes updown{
  0%{ /* 시작 */
    transform: translateY(0);
  }
  50%{
    transform: translateY(50px);
  }
  100%{ /* 끝 */
    transform: translateY(0);
  }
}
div#title .wrap a.scroll::before{
  content: "";
  border-left: 3px solid #fff;
  height: 30px;
  display: block;
}
div#title .wrap a.scroll::after{
  content: "";
  border: 3px solid #fff;
  height: 15px;
  display: block;
  width: 15px;
  border-left-color: transparent;
  border-bottom-color: transparent;
  transform: rotate(135deg);
  margin-top: -21px;
}
div#title .wrap a.scroll span{
  
  width: 2px;
  height: 2px;
  display: block;
  background-color: white;
  position: absolute;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
div#title .wrap a.scroll span:nth-child(1){
  left: 0;
  top: 0;
  animation-name: one;
  width: 0;
}
@keyframes one{
  100%{
    width: 100%;
  }
}
div#title .wrap a.scroll span:nth-child(2){
  right: 0;
  top: 0;
  animation-name: two;
  animation-delay: 0.5s;
  height: 0;
}
@keyframes two{
  100%{
    height: 100%;
  }
}
div#title .wrap a.scroll span:nth-child(3){
  right: 0;
  bottom: 0;
  animation-name: one;
  animation-delay: 1s;
  width: 0;
}
div#title .wrap a.scroll span:nth-child(4){
  left: 0;
  bottom: 0;
  animation-name: two;
  animation-delay: 1.5s;
  height: 0;
}







